<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <h3>Order List</h3>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list>
  <ion-item *ngFor="let items of productosArray">
    <ion-avatar slot="start">
      <ion-img [src]=""></ion-img>
    </ion-avatar>
    <ion-label>
      {{productosArray.nombre}}
    </ion-label>
    <ion-label>S/.50.00</ion-label>
    <ion-fab-button size="small">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img [src]=""></ion-img>
    </ion-avatar>
    <ion-label>
      Producto 2
    </ion-label>
    <ion-label>S/.50.00</ion-label>
    <ion-fab-button size="small">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img [src]=""></ion-img>
    </ion-avatar>
    <ion-label>
      Producto 3
    </ion-label>
    <ion-label>S/.50.00</ion-label>
    <ion-fab-button size="small">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img [src]=""></ion-img>
    </ion-avatar>
    <ion-label>
      Producto 4
    </ion-label>
    <ion-label>S/.50.00</ion-label>
    <ion-fab-button size="small">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img [src]=""></ion-img>
    </ion-avatar>
    <ion-label>
      Producto 5
    </ion-label>
    <ion-label>S/.50.00</ion-label>
    <ion-fab-button size="small">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
</ion-list>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-start">
        <h3>Total</h3>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-end">
        <h3>S/.100</h3>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-button size="small">Pay Now</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>