<ion-slides pager="true">
  <ion-slide>
    <div class="card">
      <div class="ion-text-center title">
        Popular
      </div>
      <div class="content">
        <div class="item"> 
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 2</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 3</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 4</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 5</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 6</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 7</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 8</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 9</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 10</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 11</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 12</h5>
        </div>
      </div>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="card">
      <div class="ion-text-center title">
        En descuento
      </div>
      <div class="content">
        <div class="item"> 
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 2</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 3</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 4</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 5</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 6</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 7</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 8</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 9</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 10</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 11</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 12</h5>
        </div>
      </div>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="card">
      <div class="ion-text-center title">
        Para tí
      </div>
      <div class="content">
        <div class="item"> 
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 2</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 3</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 4</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 5</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 6</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 7</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 8</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 9</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 10</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 11</h5>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0339/7965/products/n.jpg?v=1553787086" alt="">
          <h5>Pantalones 12</h5>
        </div>
      </div>
    </div>
  </ion-slide>
</ion-slides>
