<ion-slides pager="true">
  <ion-slide>
    <div class="card">
      <div class="ion-text-center title">
        Popular
      </div>
      <div class="content">
        <div class="item" (click)="onDetail(item.idProducto)" *ngFor="let item of products"> 
          <img src="{{item.imagen}}" alt="">
          <h5>{{item.nombre}}</h5>
        </div>
      </div>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="card">
      <div class="ion-text-center title">
        En descuento
      </div>
      <div class="content">
        <div class="item" (click)="onDetail(item.idProducto)" *ngFor="let item of products"> 
          <img src="{{item.imagen}}" alt="">
          <h5>{{item.nombre}}</h5>
        </div>
      </div>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="card">
      <div class="ion-text-center title">
        Para tí
      </div>
      <div class="content">
        <div class="item" (click)="onDetail(item.idProducto)" *ngFor="let item of products"> 
          <img src="{{item.imagen}}" alt="">
          <h5>{{item.nombre}}</h5>
        </div>
      </div>
    </div>
  </ion-slide>
</ion-slides>
