<ion-card> 
  <ion-card-header>
    <ion-card-title>
      <ion-toolbar>
        <ion-buttons slot="end">
            <ion-icon (click)="closeModal()" name="close-circle"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <div class="ion-text-center">
        <ion-button type="submit">Save</ion-button>
      </div>  
    </form>
  </ion-card-content>
</ion-card>
    
