<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card> 
    
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
        <ion-item>
          <ion-label position="stacked">Nombres</ion-label>
          <ion-input type="text" required formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input type="text" required formControlName="lastname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input  type="password" required formControlName="password"></ion-input>
        </ion-item>

        <div class="ion-text-center">
          <ion-button type="submit">Register</ion-button>
        </div>  
      </form>
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="start" (click)="onLogin()">Log-in</ion-button>
    </ion-item>

  </ion-card>
    
</ion-content>
